<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <label>Empleado</label>
                {{ resource.employee.name }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Fecha desde</label>
                {{ resource.fromDate|date("m/d/Y") }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Fecha hasta</label>
                {{ resource.toDate|date("m/d/Y") }}
            </div>
        </div>
        <br>
        {% include '/Form/Buttons/_cancel.html.twig' with {'paths': {'cancel': path('GET_' ~ metadata.parameters.route.root ~ '_' ~  metadata.parameters.route.actions.list, configuration.vars.route.parameters|default({}))}} %}
    </div>
</div>
